@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome.otf"),
        url("../fonts/fontawesome-webfont.eot"),
        url("../fonts/fontawesome-webfont.svg"),
        url("../fonts/fontawesome-webfont.ttf"),
        url("../fonts/fontawesome-webfont.woff");
}

/* --- general styles --- */

body {
    font: 26px/1.22 Helvetica, Arial, sans-serif;
    color: #666;
    text-transform: lowercase;
    margin: 0;
}
.wrap {
    margin: 0 auto;
    width: 320px;
    overflow: hidden;
}

i {font-family: FontAwesome;}
ul {list-style: none;padding: 0;}

a {text-decoration: none;}
:hover {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


/* --- header --- */

.main {
    position: relative;
}

.main h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 97px;
    margin: 30% 0 20px;
    /*color: rgb(115, 33, 136);*/
}

#google a {color: #bbb;}
#halloffame a {color: #ccc;}
#atomic a {color: #ddd;}
#freely a {color: #eee;}

#google a:hover {color: #8b8b8b; padding-left: 3px;}
#halloffame a:hover {color: #9c9c9c; padding-left: 6px;}
#atomic a:hover {color: #adadad; padding-left: 9px;}
#freely a:hover {color: #bebebe; padding-left: 12px;}
/*
#google span {margin-right: -7px;}
#google a:hover .blue {color: #3b82ff;}
#google a:hover .red {color: #f75647;}
#google a:hover .yellow {color: #fbc744;}
#google a:hover .green {color: #21c676;}
*/


/* --- footer --- */

footer {
    padding: 10px 0;
    text-align: right;
    margin: 75px 0;
}

footer .social-links {
    margin: 0;
    overflow: hidden;
    float: right;
}

footer .social-links li {
    float: left;
    margin-left: 8px;
    font-size: 28px;
}

footer .social-links a:hover {
    transition: all linear .15s;
    -webkit-transition: all linear .15s;
    -moz-transition: all linear .15s;
    -ms-transition: all linear .15s;
    -o-transition: all linear .15s;
}
footer .social-links a {color: #666;}
footer .social-links #linkedin a:hover {color: #0e76a8;}
footer .social-links #github a:hover {color: #171515;}
footer .social-links #youtube a:hover {color: #c4302b;}

footer .me {
    font-size: 16px;
    color: #ddd;
}