@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('http://fonts.googleapis.com/css?family=Cabin+Sketch');

/* general styles */

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ol {
    margin: 0;
    padding: 0;
    padding-left: 1.6em;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.wrap {
    margin: 0 40px;
}
.logo {
    font-family: Cabin Sketch, sans-serif;
}
.title {
    font-size: 2em;
    margin: 0.8em auto 1em;
    font-family: Cabin Sketch, sans-serif;
    border: 0.2em dashed;
    display: inline-block;
    padding: 0.2em 0.4em;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
#main-content {
    text-align: center;
}


/* background */

html, body {
    background: url(../img/bg.jpg);
    background-size: cover;
    color: #fff;
}


/* dark box */

.about #main-content .wrap,
.team #main-content .wrap,
.app #main-content .instructions {
    margin: 2em auto;
    background: rgba(69, 50, 9, 0.6);
    box-shadow: #000 0 0 1000px inset;
    padding: 2em 3em;
    width: 500px;
}


/* nav bar */

#top-nav {
    line-height: 60px;
    overflow: hidden;
}
#top-nav .logo {
    float: left;
    font-size: 2em;
}
#top-nav .links {
    float: right;
    font-weight: 400;
}
#top-nav .links li {
    float: left;
    margin-left: 25px;
}


/* index */

.index:after {
    content: "Photo by Dogancan Ozturan";
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.8;
    font-size: .8em;
}
.index #main-content .splash {
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
    font-weight: 400;
}
.index #main-content .logo {
    font-size: 3em;
    line-height: 1em;
    border: 10px dashed;
    display: inline-block;
    border-radius: 10px;
    padding: .2em 0.35em;
    margin-bottom: 0.2em;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.index #main-content #goToApp {
    border: #fff 3px solid;
    /* border: #453209 2px solid; */
    padding: 0.3em 1em;
    display: inline-block;
    border-radius: 10px;
    margin-top: 2em;
    font-size: 1.2em;
    /* color: #453209; */
    /* background: #fff; */
}
.index #main-content #goToApp:hover {
    background: none;
    box-shadow: #fff 0 0 5px, #453209 0 0 10px;
    /* box-shadow: rgba(255,255,255,.4) 0 0 10px; */
    /* background: #fff; */
    /* color: #453209; */
    /* border-color: #453209; */
}


/* team */

#main-content .team {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.team .member {
    float: left;
    margin: 1em 0;
    width: 50%;
}
.team .member .photo-holder {
    margin: 1em auto;
    max-width: 200px;
    max-height: 200px;
    overflow:hidden;
    border-radius: 10px;
    border: #fff 1px dashed;
    width: 90%;
}
.team .member .photo-holder img {
    max-width: 100%;
    max-height: 100%;
}
.team .member .name {
    font-weight: 600;
}


/* app */

.app .instructions ol {
    text-align: left;
}
.app .instructions ol li {
    padding-left: .5em;
}