/* --- general styles --- */

body {
  font: 14px/1.22 'Raleway', Arial, sans-serif;
  color: #666;
}

.wrap {
  margin: 0 60px;
}

a {
  text-decoration: none;
}

:hover {
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
}

img {
  max-width: 100%;
}

.right {
  float: right;
}
.left {
  float: left;
}

.light {
  opacity: 0.8;
}
